html
  head
    link(rel="stylesheet" href="/styles/app.css")
    script(src="/lib/angular/angular.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular-cookies.js")
    script(src="app.js")

  body(ng-app="app", ng-controller="AppController")
    h1 Hello {{ greeting }}
    img(src="/images/nxt-logo.png")
